<!-- Write a script to listen to window events sent from Calendly for logging. -->

<div id="ncsa-calendly">
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  <script>
    Calendly.initInlineWidget({
      url: 'https://calendly.com/ncsanextcollegestudentathlete/dev-test',
      parentElement: document.getElementById('ncsa-calendly'),
      prefill: {
        name: "<%= @params["name"] %>",
        email: "<%= @params["email"] %>"
      },
      utm: {
        utmLeadId: "<%= @params["lead_id"] %>"
      }
    });
  </script>
</div>
